# Ignore the requests-cache database
.cache.sqlite

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments (adjust if yours has a different name)
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore any temporary or log files
*.log
*.tmp

# Binary ephemeris file provided by NASA’s Jet Propulsion Laboratory (JPL)
de421.bsp